:root {
  --colore-uno: #404040;
  --colore-due: #F8E028;
  --colore-tre: #d2d2d2;
  --colore-quattro: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Glory", sans-serif;
}

p, ul, li {
  font-size: 16px;
  line-height: 1.2;
}

h1 {
  font-size: 36px;
  line-height: 1.2;
}

h2 {
  font-size: 28px;
  line-height: 1.2;
}

h3 {
  font-size: 20px;
  line-height: 1.2;
}

.body {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: var(--colore-uno);
}

.header {
  background-color: transparent;
  border: 1px solid #F8E028;
  z-index: 999;
}

/* NAVBAR MOBILE */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border: 1px solid black;
  background-color: var(--colore-uno);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  align-content: center;
  z-index: 1000;
  overflow-x: hidden;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  padding-top: 60px;
}

/*@media screen and (max-height: 450px) {
  .navbar {padding-top: 15px;}
  .navbar a {font-size: 18px;}
}*/

.closebtn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 28px;
  cursor: pointer;
  background-color: transparent;
  color: var(--colore-due);
  border: none;
  z-index: 1000;
}

.openbtn {
  position:fixed;
  left: 10px;
  top: 10px;
  font-size: 28px;
  cursor: pointer;
  background-color: transparent;
  color: var(--colore-due);
  border: none;
  z-index: 998;
}

.menulist {
  list-style: none;
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  border: 1px solid #F8E028;
}

.menuelement {
  list-style: none;
  /*display: inline block;*/
  margin-top: 5vh;
  font-size: 30 px;
}

.menuelement a:link, a:visited {
  color: var(--colore-tre);
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 2vh;
  transition: 0.3s;
  }

.menuelement a:hover, a:active {
  color: var(--colore-due);
  font-weight: bolder;
  text-transform: uppercase;
  transition: 0.3s;
  }

.scroll {
  width: 100%;
}

.titolo {
  width: 100%;
  border: 1px solid black;
  margin-left: 5vw;
  align-self: flex-start;
}

.linea {
  width:30vh;
  height:3px;
  background: var(--colore-quattro);
  margin-left: 5vw;
  align-self: flex-start;
}

.home {
  height: 100%;
  background-color: var(--colore-uno);
  display: flex;
  /*position: relative;*/
  overflow: hidden;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  z-index:100;
  border: 1px solid black;
}

.home h1 {
  color: var(--colore-quattro);
  font-size: 80px;
  font-weight: bold;
}

.home h2 {
  color: var(--colore-due);
  font-size: 60px;
  font-weight: bold;
}

.home p {
  color: var(--colore-tre);
  font-size: 30px;
  font-weight: bold;
}

  /* SEZIONI */
.sectioncontainer {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: no-wrap;
  justify-content: space-evenly;
  align-items: stretch;
  overflow: hidden;
}

.sudime {
  background-color: var(--colore-quattro);
  height: 100vh;
  width: 100%;
  align-self: center;
  border: 1px solid black;
}

.sudime h1 {
  color: var(--colore-quattro);
  font-size: 80px;
  font-weight: bold;
}

.sudime h2 {
  color: var(--colore-uno);
  font-size: 60px;
  font-weight: bold;
}

.sudime h3 {
  color: var(--colore-due);
  font-size: 45px;
  font-weight: bold;
}

.sudime p {
  color: var(--colore-uno);
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 5px;
}

.sudimecontenuto {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  align-items: flex-start;
  justify-content: space-between;
  border: 1px solid black;
}

.sudimeimg {
  height: auto;
  position: relative;
  top: 2vh;
  left: 5vw;
  flex: 1 1 25%;
}

.sudime img {
  height: auto;
  width: 300px;
}

.sudimetxt {
  height: auto;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 2vh;
  flex: 1 1 75%;
}

.formazione {
  background-color: var(--colore-uno);
  height: 100vh;
  width: 100%;
  align-self: center;
  border: 1px solid black;
}

.formazione h1 {
  color: var(--colore-quattro);
  font-size: 80px;
  font-weight: bold;
}

.formazione h2 {
  color: var(--colore-quattro);
  font-size: 60px;
  font-weight: bold;
}

.formazione h3 {
  color: var(--colore-due);
  font-size: 45px;
  font-weight: bold;
}

.formazione h4 {
  color: var(--colore-uno);
  background-color: var(--colore-due);
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
}

.formazione p {
  color: var(--colore-tre);
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 5px;
}

.formazionecontenuto {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  align-items: flex-start;
  justify-content: space-between;
  border: 1px solid black;
}

.formazionetxtsx {
  height: auto;
  margin-left: 5vw;
  margin-right: 2vw;
  margin-top: 2vh;
  flex: 1 1 40%;
}

.formazioneimg {
  height: auto;
  /*margin-left: 5vw;
  margin-right: 2vw;*/
  margin-top: 2vh;
  flex: 1 1 20%;
}

.formazione img {
  height: auto;
  width: auto;
  opacity: 0.3;
}

.formazionetxtdx {
  height: auto;
  margin-left: 5vw;
  margin-right: 2vw;
  margin-top: 2vh;
  flex: 1 1 40%;
}

/*Standardizzare un tipo per sudime ed esperienza?*/
.esperienza {
  background-color: var(--colore-quattro);
  height: 100vh;
  width: 100%;
  align-self: center;
  border: 1px solid black;
}

.esperienza h1 {
  color: var(--colore-quattro);
  font-size: 80px;
  font-weight: bold;
}

.esperienza h2 {
  color: var(--colore-uno);
  font-size: 60px;
  font-weight: bold;
}

.esperienza h3 {
  color: var(--colore-due);
  font-size: 45px;
  font-weight: bold;
}

.esperienza p {
  color: var(--colore-uno);
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 5px;
}

.esperienzacontenuto {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  align-items: flex-start;
  justify-content: flex-start;
  border: 1px solid black;
}

.esperienzatxt {
  height: auto;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-bottom: 2vh;
  margin-top: 2vh;
  /*flex: 1 1 75%;*/
}

.fisarmonica {
  background-color: var(--colore-tre);
  color: var(--colore-uno);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
}

.fisactive, .fisarmonica:hover {
  background-color: var(--colore-due);
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: var(--colore-quattro);
}

.label {
  background: var(--colore-tre); 
  border: 1px solid var(--colore-quattro); 
  width: 35%;
  height: 8vh;
  padding: .5em 1em;
  cursor: pointer;
  z-index: 1;
  /*display: block;*/
}

.descrizione {
  width: 60%;
  margin-top: -1px;
  padding: 1em;
  border: 1px solid var(--colore-tre);
  order: 1;
  vertical-align: top;
}

.input[type=radio], .descrizione {
  display: none;
}

.input[type=radio]:checked + .label {
  background: var(--colore-due);
  border-bottom: 1px solid var(--colore-quattro);
}

.input[type=radio]:checked + .label + .descrizione {
  display: flex;
  flex-direction: column;
  vertical-align: top;
  left: 36%;
  top: 0;
}

.cosafacciocolonnasx {
  background-color: var(--colore-uno);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 1 40%;
  border: 1px solid black;
}

.cosafaccio-txt {
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  max-height: 90%;
}

.cosafaccio-txt p {
  /*font-family: "Glory", sans-serif;
  font-size: 16px;
  line-height: 1.2;*/
  color: var(--colore-due);
}

.cosafaccio-txt h1 {
  /*font-family: "Glory", sans-serif;
  font-size: 36px;
  line-height: 1.2;*/
  color: var(--colore-due);
}

.cosafaccio-txt h2 {
  /*font-family: "Glory", sans-serif;
  font-size: 28px;
  line-height: 1.2;*/
  color: var(--colore-due);
}

.cosafacciocolonnadx {
  background-color: var(--colore-due);
  height: 100vh;
  width: 100%;
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  flex: 1 1 60%;
  border: 1px solid black;
}

.skillsbox {
  background-color: var(--colore-tre);
  height: 150px;
  margin: 5vh;
  width: 40%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  align-content: stretch;
  /*flex: 1 1 45%;*/
  border: 2px solid var(--colore-uno);
}

.skillsbox-icon {
  height: 150px;
  width: 150px;
  background-color: var(--colore-uno);
  color: var(--colore-due);
  z-index: 10;
  /*flex: 1 1 30%;*/
  border: 1px solid black;
}

.skillsbox-txt {
  height: auto;
  /*flex: 1 1 70%;*/
  border: 1px solid black;
}

.skillsbox-txt p {
  color: var(--colore-uno);
}

.contatticolonnasx {
  background-color: #F8E028;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex: 1 1 50%;
  border: 1px solid black;
}

.contatti-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #F8E028;
  border-radius: 4px;
  border: 2px solid black;
  overflow: hidden;
  height: 40vh;
  width: 60%;
  align-self: center;
}

.contatti-txt {
  /*display: block;*/
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  max-height: auto;
  text-align: center;
}

.contatti-txt p, ul, li {
  /*font-family: "Glory", sans-serif;
  font-size: 16px;
  line-height: 1.2;*/
  color: var(--colore-uno);
}

.contatti-txt h1 {
  /*font-family: "Glory", sans-serif;
  font-size: 36px;
  line-height: 1.2;*/
  color: var(--colore-uno);
}

.contatti-txt h2 {
  /*font-family: "Glory", sans-serif;
  font-size: 28px;
  line-height: 1.2;*/
  color: var(--colore-uno);
}

.contatti-social {
  /*display: block;*/
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  max-height: auto;
}

.social-icons {
  list-style: none;
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-right: 0px;
  margin-top: 0px;
  /*margin: 2wh;*/
}

.social-icons li {
  display: inline-block;
  list-style: none;
  margin-right: 5vh;
}

.fa {
  font-size: 40px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
  transition: all 265ms ease-out;
}

.contatticolonnadx {
  background-color: var(--colore-uno);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex: 1 1 50%;
  border: 1px solid black;
}

.contatti-titolo {
  /*display: block;*/
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  margin-bottom: 5vh;
  max-width: 50%;
  max-height: auto;
  text-align: center;
}

.form-label {
  color: var(--colore-due);
}

.form-button {
  /*font-family: "Roboto", sans-serif;*/
  font-size: 16px;
  background-color: var(--colore-due);
  border: 1px solid black;
  color: var(--colore-uno);
  padding: 1vh 2vh;
  transition: 0.2s;
}

.form-button:hover {
  font-weight: bold;
}

/* Imposto le regole di responsive design */
/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
    background-color: #F09A9D; /* Red */
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    background-color: #F5CF8E; /* Yellow */
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body {
    background-color: white; /* White */
  }
}

@media screen and (max-width: 768px) {
  #timeline {
    margin: 30px;
    padding: 0px;
    width: 90%;
  }
  #timeline:before {
    left: 0;
  }
  #timeline .timeline-item .timeline-content {
    width: 90%;
    float: right;
  }
  #timeline .timeline-item .timeline-content:before, #timeline .timeline-item .timeline-content.right:before {
    left: 10%;
    margin-left: -6px;
    border-left: 0;
    border-right: 7px solid #ee4d4d;
  }
  #timeline .timeline-item .timeline-icon {
    left: 0;
  }
}
