:root {
  --colore-uno: #404040;
  --colore-due: #F8E028;
  --colore-tre: #d2d2d2;
  --colore-quattro: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Glory", sans-serif;
}

.body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  /*background-color: var(--colore-uno);*/
}

/*PRELOADER*/
#overlayer {
  width:100%;
  height:100%;  
  position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  z-index: 999992;
  background: var(--colore-uno);
}

.preloader p{
  position: absolute;
  top: 40%;
  margin-left: 25vw;
  width: 50vw;
  text-align: center;
  color: var(--colore-quattro);
  font-size: 5em;
  font-weight: bold;
  z-index: 999993;
}

.header {
  background-color: transparent;
  border: 1px solid #F8E028;
  z-index: 999;
}

/* NAVBAR MOBILE */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border: 1px solid black;
  background-color: black;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  align-content: center;
  z-index: 1000;
  overflow-x: hidden;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  padding-top: 60px;
}

.closebtn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 3em;
  cursor: pointer;
  background-color: transparent;
  color: var(--colore-due);
  border: none;
  z-index: 1000;
}

.openbtn {
  position:fixed;
  left: 10px;
  top: 10px;
  font-size: 2em;
  cursor: pointer;
  background-color: transparent;
  color: var(--colore-due);
  border: none;
  z-index: 998;
}

.menulist {
  list-style: none;
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  border: 1px solid #F8E028;
}

.menuelement {
  list-style: none;
  margin-top: 5vh;
  text-align: center;
  font-size: 5vh;
}

.menuelement a:link, a:visited {
  color: var(--colore-tre);
  text-decoration: none;
  transition: 0.3s;
  }

.menuelement a:hover, a:active {
  color: var(--colore-due);
  font-weight: bolder;
  transition: 0.3s;
  }

/*HOME*/
.scroll {
  width: 100%;
}

.titolo {
  width: 100%;
  border: 1px solid black;
  margin-left: 5vw;
  align-self: flex-start;
}

.linea {
  width:20vw;
  height:3px;
  background: var(--colore-quattro);
  margin-left: 5vw;
  align-self: flex-start;
}

.home {
  height: 100vh;
  background-color: var(--colore-uno);
  display: flex;
  overflow: hidden;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  z-index:100;
  border: 1px solid black;
}

.home h1 {
  color: var(--colore-quattro);
  font-size: 5em;
  font-weight: bold;
}

.home h2 {
  color: var(--colore-due);
  font-size: 4em;
  font-weight: bold;
}

.home p {
  color: var(--colore-tre);
  font-size: 2em;
  font-weight: bold;
}

  /* SEZIONI */
.sectioncontainer {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: no-wrap;
  justify-content: space-evenly;
  align-items: stretch;
  overflow: hidden;
}

/*TEMA CHIARO*/
.temachiaro {
  background-color: var(--colore-quattro);
  height: 100vh;
  width: 100%;
  align-self: center;
  border: 1px solid black;
}

.temachiaro h1 {
  color: var(--colore-quattro);
  font-size: 5em;
  font-weight: bold;
}

.temachiaro h2 {
  color: var(--colore-uno);
  font-size: 3.5em;
  font-weight: bold;
}

.temachiaro h3 {
  color: var(--colore-due);
  font-size: 2.5em;
  font-weight: bold;
}

.temachiaro h4 {
  color: var(--colore-uno);
  background-color: var(--colore-due);
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  margin-top: 15px;
}

.temachiaro p {
  color: var(--colore-uno);
  font-size: 1em;
  font-weight: normal;
  margin-bottom: 5px;
}

/*TEMA SCURO*/
.temascuro {
  background-color: var(--colore-uno);
  height: 100vh;
  width: 100%;
  align-self: center;
  border: 1px solid black;
}

.temascuro h1 {
  color: var(--colore-quattro);
  font-size: 5em;
  font-weight: bold;
}

.temascuro h2 {
  color: var(--colore-quattro);
  font-size: 3.5em;
  font-weight: bold;
}

.temascuro h3 {
  color: var(--colore-due);
  font-size: 2.5em;
  font-weight: bold;
}

.temascuro h4 {
  color: var(--colore-uno);
  background-color: var(--colore-due);
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  margin-top: 15px;
}

.temascuro p {
  color: var(--colore-tre);
  font-size: 1em;
  font-weight: normal;
  text-align: center;
  margin-bottom: 5px;
}

/*SU DI ME*/
.sudimecontenuto {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  align-items: flex-start;
  justify-content: space-between;
  border: 1px solid black;
}

.sudimeimg {
  height: auto;
  margin-top: 2vh;
  margin-left: 5vw;
  flex: 1 1 25%;
}

.sudimeimg img {
  height: auto;
  width: 300px;
  max-width: 90%;
}

.sudimetxt {
  height: auto;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 2vh;
  flex: 1 1 75%;
}

/*FORMAZIONE*/
.formazionecontenuto {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  align-items: flex-start;
  justify-content: space-between;
  border: 1px solid black;
}

.formazionetxt {
  height: auto;
  width: 30%;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 2vh;
  flex: 1 1 30%;
}

/*LISTA CORSI*/
.featureListItem {
  display: flex;
  align-items: center;
  max-width: 400px;
  padding: 10px;
}

.featureListItem + .featureListItem {
  border-top: 1px solid #D7DBDD;
}

.featureListItemIcon {
  padding: 5px 15px;
}

.featureListItemIcon {
  font-size: 50px;
  line-height: 0;
}

/*ESPERIENZA*/
.esperienzacontenuto {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  align-items: flex-start;
  justify-content: flex-start;
  border: 1px solid black;
}

.esperienzatxt {
  height: auto;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-bottom: 2vh;
  margin-top: 2vh;
  /*flex: 1 1 75%;*/
}

.resumecontainer {
  max-width: 100%;
  position: relative;
  margin: auto;
}

.slides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-left: -10vw;
  /*padding: 16px;*/
  color:  var(--colore-uno);
  font-weight: bold;
  font-size: 24px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  color: var(--colore-due);
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

/*.resumeitem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  overflow-y: auto;
  /*max-width: 400px;
  padding: 10px;
  scrollbar-width: thin;
  scrollbar-gutter: stable;
  scrollbar-color: var(--colore-due);
}*/

.resumeListItemIcon {
  width: 100px;
  padding: 5px 15px;
  font-size: 50px;
  line-height: 0;
}

.resumeListItemtxt {
  width: 50vw;
  height: 50vh;
}

/* The dots/bullets/indicators */
.dotpos {
  align-self: center;
  margin-bottom: 2px;
} 

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: var(--colore-tre);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: var(--colore-uno);
}


/*portfolio*/
.portfoliocontenuto {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  align-items: flex-start;
  justify-content: center;
  align-content: flex-start;
  border: 1px solid black;
}

.portfoliotxt {
  height: auto;
  width: auto;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 2vh;
  /*flex: 0 0 40%;*/
}

.portfoliocontainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  overflow: auto;
  align-items: stretch;
  justify-content: flex-start;
  align-content: flex-start;
  border: 1px solid black;
}

.portfolio {
  height: auto;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-top: 1vh;
  margin-bottom: 1vh;
  /*flex: 0 0 25%;*/
  border: 1px solid var(--colore-due);
}

.portfolioListItemIcon {
  width: 100px;
  padding: 5px 15px;
  font-size: 50px;
  line-height: 0;
  text-align: center;
}

.portfolioListItemtxt {
  width: 100%;
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 1px;
}

.portfolioListItemtxt li {
  color: var(--colore-tre);
  font-size: 1em;
  font-weight: normal;
  text-align: left;
  /*margin-bottom: 5px;*/
  margin-left: 5px;
  list-style-type: square;
  list-style-position: inside;
}

/*.pslides {
  display: none;
}*/

/*.skills img {
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 2vh;
}*/

/*.portfoliobox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  overflow: hidden;
  border: 1px solid var(--colore-due);
  margin-bottom: 5px;
}*/

/*card*/
/*.portfoliocardtitle {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: var(--colore-due);
  border: 1px solid var(--colore-due);
  border-radius: 4px;
  overflow: hidden;
  max-width: 120px;
  height: 100px;
  margin-top: 2px;
}

.portfoliocard {
  display: flex;
  flex-direction: column;
  background-color: var(--colore-tre);
  border: 1px solid var(--colore-due);
  border-radius: 4px;
  overflow: hidden;
  width: 120px;
  height: 100px;
  margin-top: 2px;
  margin-right: 2px;
}

.portfolioCardDescription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*padding: 5px 0;
}

.icon {
  font-size: 40px;
}

.portfolioCardDescription img {
  max-width: 80px;
  max-height: 80px;
  margin-bottom: 5px;
}

.portfolioCardText {
  color: var(--colore-uno);
  font-size: 14px;
  text-align: center;
  max-width: calc(100% - 30px);
}

.stelline {
  text-align: center;
  padding: 5px 15px;
  border-top: 1px solid var(--colore-due);
  background-color: var(--colore-uno);
}

.stelline span {
  font-size: 16px;
  text-align: center;
}

.checked {
  color: var(--colore-due);
}*/

/*CONTATTI*/
.contatticontenuto {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  align-items: center;
  justify-content: center;
  align-content: flex-start;
  border: 1px solid black;
}

.contatticolonna {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex: 1 1 50%;
  border: 1px solid black;
}

.contatti-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 4px;
  border: 2px solid black;
  overflow: hidden;
  height: 50vh;
  width: 90%;
  align-self: center;
}

.contatti-txt {
  /*display: block;*/
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  max-height: auto;
  text-align: center;
}

.contatti-txt img {
  opacity: 0.8;
  margin-left: auto;
  margin-right: auto;
  max-width: 150px;
  max-height: auto;
}

.contattisocial {
  /*display: block;*/
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  max-height: auto;
  text-align: center;
}

.socialicons {
  list-style: none;
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-right: 0px;
  margin-top: 0px;
  /*margin: 2wh;*/
}

.socialicons li {
  display: inline-block;
  list-style: none;
  margin-right: 2vh;
  margin-left: 2vh;
}

.socialicons .fab {
  font-size: 40px;
  text-align: center;
  text-decoration: none;
  color: var(--colore-uno);
}

.socialicons .fab:hover {
  opacity: 0.7;
  transition: all 265ms ease-out;
}

.form-label {
  color: var(--colore-uno);
}

.form-button {
  /*font-family: "Roboto", sans-serif;*/
  font-size: 16px;
  background-color: var(--colore-due);
  border: 1px solid black;
  color: var(--colore-uno);
  padding: 1vh 2vh;
  transition: 0.2s;
}

.form-button:hover {
  font-weight: bold;
}

/* Imposto le regole di responsive design */
/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
    background-color: #F09A9D; /* Red */
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    background-color: #F5CF8E; /* Yellow */
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body {
    background-color: white; /* White */
  }
}

@media screen and (max-width: 768px) {
  #timeline {
    margin: 30px;
    padding: 0px;
    width: 90%;
  }
  #timeline:before {
    left: 0;
  }
  #timeline .timeline-item .timeline-content {
    width: 90%;
    float: right;
  }
  #timeline .timeline-item .timeline-content:before, #timeline .timeline-item .timeline-content.right:before {
    left: 10%;
    margin-left: -6px;
    border-left: 0;
    border-right: 7px solid #ee4d4d;
  }
  #timeline .timeline-item .timeline-icon {
    left: 0;
  }
}
